{% extends "layout.html" %}
{% set title = 'Blob' %}
{% set icon = 'file' %}
{% block content %}
<!-- Tools -->
<div>
    <!-- Up -->
    <a class="btn btn-primary" href="{{ url_for('container.detail',
    container=blob.container) }}">
        <i class="bi bi-arrow-up"></i> Up
    </a>
    <a class="btn btn-primary" href="{{ url_for('artifact.detail', artifact_id=blob.metadata.artifact_id) }}">
        <i class="bi bi-file"></i>
        View Artifact
    </a>
    <!-- Download -->
    <a class="btn btn-primary" href="{{ url_for('blob.download', container=blob.container, blob=blob.name) }}">
        <i class="bi bi-cloud-download-fill"></i>
        Download
    </a>

    <!-- Delete -->
    <a class="btn btn-danger" href="{{ url_for('blob.delete', container=container,
        blob=blob) }}">
        <i class="bi bi-trash-fill"></i> Delete
    </a>
</div>
<dl>
    {% for key, value in blob.items() %}
    <dt>{{ key }}</dt>
    <dd><code>{{ value }}</code></dd>
    {% endfor %}
</dl>
{% endblock %}
