{% extends "layout.html" %}
{% set title = 'Add Research Object' %}
{% set icon = 'cup' %}
{% block content %}
<form method="post" action="{{ url_for(request.endpoint) }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <!-- Name -->
    <div>
        <label class="form-label" for="title">Title</label>
        <input class=form-control" type="text" name="title" id="title" required>
    </div>

    <!-- Description -->
    <div>
        <label class="form-label" for="description">Description</label>
        <input class=form-control" type="text" name="description" id="description">
    </div>

    <!-- Schema -->
    <div>
        <label class="form-label" for="_schema">Schema</label>
        <textarea class="form-control font-monospace" name="_schema" id="_schema" rows="10" required>{}</textarea>
        <div class="form-text">The object schema defined using <a href="https://json-schema.org/">JSON Schema.</a></div>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary mt-3">
        Submit
        <i class="bi bi-caret-right-fill"></i>
    </button>
</form>
{% endblock %}
