<!doctype html>

<html lang="en">
<head>
  <title>AMRC OWAST | {{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Advanced Manufacturing Research Centre (AMRC) One Way Assembly Sensor-based digital verification Technology (OWAST) database">
  <meta name="author" content="Joe Heffer">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-icons.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

<!-- Header -->
<div class="p-5">
  <a href="/">
  <img class="img-fluid" src="{{ url_for('static', filename='images/amrc-logo.png') }}"
       alt="The University of Sheffield Advanced Manufacturing Research Centre" width="500">
  <h1 class="h1">OWAST database</h1>
  </a>
</div>

<!-- Menu -->
<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav bg-light">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <span class="bi bi-house"></span>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('experiment.list_') }}">
        <span class="bi bi-align-bottom"></span>
        Experiments
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('tool.list_') }}">
        <span class="bi bi-tools"></span>
        Tools
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('container.list_') }}">
        <span class="bi bi-folder"></span>
        Containers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('settings.settings') }}">
        <span class="bi bi-gear-fill"></span>
        Settings
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('service.list_') }}">
        <span class="bi bi-activity"></span>
        Status
      </a>
    </li>
  </ul>
</nav>

<div class="container">

<!-- Flashed messages -->
<div id="flash">
{% with messages = get_flashed_messages() %}
{% for message in messages %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
{% endfor %}
{% endwith %}
</div>

<!-- Content -->
<div id="content">
<h1>
    {% if icon %}<i class="bi bi-{{ icon }}"></i>{% endif %}
    {{ title }}
</h1>
{% block content %}{% endblock %}
</div>

<!-- Footer -->
<div class="footer">
  <hr>
  &copy; Advanced Manufacturing Research Centre 2021
</div>

</div>

</body>
</html>
