<!doctype html>

<html lang="en">
<head>
  <title>AMRC OWAST | {{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Advanced Manufacturing Research Centre (AMRC) One Way Assembly Sensor-based digital verification Technology (OWAST) database">
  <meta name="author" content="Joe Heffer">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-icons.css') }}">
</head>

<body>

<!-- Menu -->
<nav class="navbar navbar-expand-lg" role="navigation">
  <ul class="navbar-nav bg-light">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('experiment.list_') }}">List Experiments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('experiment.create') }}">Add Experiment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('container.list_') }}">Containers</a>
    </li>
  </ul>
</nav>

<div class="container">

<!-- Flashed messages -->
<div id="flash">
{% with messages = get_flashed_messages() %}
{% for message in messages %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
{% endfor %}
{% endwith %}
</div>

<!-- Content -->
<div id="content">
<h1>
    {% if icon %}<i class="bi bi-{{ icon }}"></i>{% endif %}
    {{ title }}
</h1>
{% block content %}{% endblock %}
</div>

<div class="footer">
  <hr>
  &copy; Advanced Manufacturing Research Centre 2021
</div>

</div>

</body>
</html>
