{% extends "layout.html" %}
{% set title = schema.title %}
{% set icon = schema.get('icon', 'cup') %}
{% block content %}

<div>
    <p>
        Create a new <code>{{ schema.title | title }}</code> object by
        populating the property fields below.
    </p>
    <p>
        The new object will be stored as an object in the
        <code>{{ schema.collection }}</code> collection in the metadata
        database.
    </p>
</div>

<!-- Schema description -->
<div class="alert alert-info" role="alert">
  <h4>Description</h4>
  {{ schema.description }}
</div>

<!-- New object form -->
<form method="post" action="{{ url_for(request.endpoint, schema_id=schema._id) }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
{% set input_types = dict(integer='number', string='text', number='number', boolean='checkbox') -%}
{% set input_classes = dict(boolean='form-check-input') -%}
{% set label_classes = dict(boolean='form-check-label') -%}
    <!-- One input per object property -->
{% for name, property in schema.properties.items() if not name.startswith('_') -%}
    {% set input_type = input_types.get(property.type, 'text') -%}
    {% set label_class = label_classes.get(property.type, 'form-label') %}
    {% set input_class = input_classes.get(property.type, 'form-control') -%}
    <!-- {{ name }} ({{ property.type }}) -->
    <div class="mb-3">
        <label class="{{ label_class }}" for="{{ name }}">{{ name | replace('_', ' ')| title }}</label>
        <input class="{{ input_class }}" type="{{ input_type }}" name="{{ name }}" id="{{ name }}"
            {% if name in schema.required %}required {% endif -%}
            {% if property.enum %}list="{{ name }}_list" {% endif -%}
            {% if property.minimum is defined %}min="{{ property.minimum }}" {% endif -%}
            {% if property.maximum is defined %}max="{{ property.maximum }}" {% endif -%}>
        <div class="form-text">{{ property.description }}</div>
        {% if property.enum -%}
        <datalist id="{{ name }}_list">
            {% for value in property.enum -%}
            <option value="{{ value }}">
            {% endfor %}
        </datalist>
        {% endif -%}
    </div>
{% endfor %}
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
