{% extends "layout.html" %}
{% set title = 'Search' %}
{% set icon = 'search' %}
{% block content %}
<form method="get" action="{{ url_for(request.endpoint) }}">
    <!-- Collection -->
    <label class=form-label" for="collection">Research Object</label>
    <select class="form-control" name="collection" id="collection">
    {% for schema, collection in collections.items() -%}
        <option value="{{ collection }}"{% if collection == selected_collection %} selected{% endif %}>{{ schema }}</option>
    {% endfor -%}
    </select>

    <!-- Query -->
    <label class="form-label" for="query">Query</label>
    <textarea class="form-control" id="query" name="query" class="form-control
        font-monospace" rows="3">{{ query or '{}' }}</textarea>
    <div class="form-text">JSON filter</div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary mt-3">
        <i class="bi bi-search"></i> Search</button>
</form>
<div>
    <h2>Results</h2>
    <ul>
    {% for result in results -%}
        <li><a href="{{ url_for('instance.detail', schema_id=selected_schema._id, document_id=result._id) }}">{{ result }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
