{% extends "layout.html" %}
{% set title = 'Add new option' %}
{% set icon = 'option' %}
{% block content %}
<p>
    An option has a set of possible values.
</p>
<form method="post" action="{{ request.endpoint }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <!-- Name -->
    <label class="form-label" for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" required>

    <!-- Values -->
    <div class="border p-3" id="values">
        <h3>Values</h3>
        <!-- Add new value button -->
        <button class="btn btn-primary" id="add-value">
            <span class="bi bi-list-ul"></span>
            Add value
        </button>
        <br/>

        <label class="form-label" for="value_0">Value</label>
        <input type="text" class="form-control value" name="value_0" id="value_0" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        <span class="bi bi-plus-circle-fill"></span>
        Add option
    </button>
</form>

<script src="{{ url_for('static', filename='scripts/add_value.js') }}" type="text/javascript" nonce="{{ csp_nonce() }}"></script>

{% endblock %}
