{% extends "layout.html" %}
{% set title = 'Create relationship' %}
{% set icon = 'diagram-2-fill' %}
{% block content %}
<p>
    Create a <a href="https://www.w3.org/TR/2013/NOTE-prov-primer-20130430/">W3C PROV</a>
    relation pointing <em>from</em> the first item <em>to</em> the item that influenced it.
</p>
<pre>{% for key, value in relation.items() -%}
{{ key }}: {{ value|tojson }}
{% endfor -%}</pre>
{% if not influencer_schema %}
<div class="alert alert-primary">Select an object to relate to below.</div>
{% endif -%}

<div class="row">
    <!-- To -->
    <div class="col border rounded border-primary">
        <h2>Influencer</h2>
        <dl>
            {% if influencer_schema -%}
            <dt>Research Object</dt>
            <dd>{{ influencer_schema.title }}</dd>
            <dt>PROV Type</dt>
            <dd>{{ influencer_schema.prov_type }}</dd>
            {% else -%}
            <form method="get" action="{{ url_for(request.endpoint) }}">
                <input type="hidden" name="influencee_schema_id" value="{{ influencee_schema._id }}">
                <input type="hidden" name="influencee_id" value="{{ influencee._id }}">
                <input type="hidden" name="type" value="{{ relation.type }}">
                <label for="influencer_schema_id">Research Object</label>
                <select class="form-select" id="influencer_schema_id" name="influencer_schema_id"
                    aria-label="Select schema">
                {% for schema in research_objects -%}
                    <option value="{{ schema._id }}">{{ schema.title }}</option>
                {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Select</button>
            </form>
            {% endif -%}
            {% if influencer_schema and not influencer -%}
            <form method="get" action="{{ url_for(request.endpoint) }}">
                <input type="hidden" name="influencee_schema_id" value="{{ influencee_schema._id }}">
                <input type="hidden" name="influencee_id" value="{{ influencee._id }}">
                <input type="hidden" name="influencer_schema_id" value="{{ influencer_schema._id }}">
                <input type="hidden" name="type" value="{{ relation.type }}">
                <label for="influencer_id">Instance</label>
                <select class="form-select" id="influencer_id" name="influencer_id" aria-label="Select instance">
                {% for instance_id, instance in instances -%}
                    <option value="{{ instance_id }}">
                        {{ instance|tojson }}
                    </option>
                {% endfor -%}
                </select>
                <button type="submit" class="btn btn-success">Select</button>
            </form>
            {% endif -%}
            {% if influencer %}
            {% for key, value in influencer.items() if not key.startswith('_') and value -%}
            <dt>{{ key }}</dt>
            <dd><code>{{ value | tojson }}</code></dd>
            {% endfor %}
            {% endif %}
        </dl>
    </div>

    <!-- Relation -->
    <div class="col">
        <h2><span class="bi bi-arrow-left"></span> Relation</h2>
        {% if not influencer %}
        <div class="alert alert-warning">Select an instance to relate to.</div>
        {% else %}
        <pre>{{ form.__class__.__name__ }}</pre>
        <form method="post" action="{{ url_for('relation.create') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {% for field in form -%}
            <div class="mt-3">
                {% if field.__class__.__name__ !='ObjectIdStringField' -%}
                    {{ field.label(class='form-label') }}
                {% endif -%}
                {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor -%}
                {{ field(class='form-control') }}
                <div class="form-text">{{ field.description }}</div>
            </div>
            {% endfor -%}
            <button class="btn btn-success mt-3">
                <span class="bi bi-diagram-2-fill"></span> Create</button>
        </form>
        {% endif %}
    </div>

    <!-- From -->
    <div class="col border rounded border-primary">
        <h2>Influencee</h2>
        <a class="btn btn-primary" href="{{ url_for('instance.detail', schema_id=influencee_schema._id, document_id=influencee._id) }}">
            <span class="bi bi-{{ influencee_schema.icon or 'cup' }}"></span>
            Detail
        </a>
        <dl>
            <dt>Research Object</dt>
            <dd>{{ influencee_schema.title }}</dd>
            <dt>PROV Type</dt>
            <dd>{{ influencee_schema.prov_type }}</dd>
            {% for key, value in influencee.items() if not key.startswith('_') and value %}
                <dt>{{ key }}</dt>
                <dd><code>{{ value | tojson }}</code></dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}
