{% extends "layout.html" %}
{% set title = 'Edit Tool' %}
{% set icon = 'tools' %}
{% block content %}
<form method="post" action="{{ url_for(request.endpoint, tool_id=tool._id) }}">
    {{ form.csrf_token }}
    {% include 'form_fields.html' %}

    <!-- Options -->
    {% for option in options %}
    <!-- {{ option.name }} -->
    <div>
        <label for="{{ option.name }}" class="form-label">{{ option.name }}</label>
        <input type="text" class="form-control" name="{{ option.name }}"
               id="{{ option.name }}" list="{{ option._id }}">
        <datalist id="{{ option._id }}">
            {% for value in option['values'] -%}
            <option value="{{ value }}">
            {% endfor %}
        </datalist>
    </div>
    {% endfor %}

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary mt-3">
        Save
        <i class="bi bi-save"></i>
    </button>
</form>
{% endblock %}
