{% extends "layout.html" %}
{% set title = 'Add Research Object' %}
{% set icon = 'cup' %}
{% block content %}
<form method="post" action="{{ url_for(request.endpoint) }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <!-- Name -->
    <div>
        <label class="form-label" for="title">Title</label>
        <input class=form-control" type="text" name="title" id="title" required>
    </div>

    <!-- Collection -->
    <div>
        <label class="form-label" for="collection">Collection</label>
        <input class=form-control" type="text" name="collection" id="collection">
        <div class="form-text">The plural of the title</div>
    </div>

    <!-- Description -->
    <div>
        <label class="form-label" for="description">Description</label>
        <input class=form-control" type="text" name="description" id="description">
    </div>

    <!-- Icon -->
    <div>
        <label class="form-label" for="icon">Icon</label>
        <input class=form-control" type="text" name="icon" id="icon">
        <div class="form-text">See <a href="https://icons.getbootstrap.com/">Bootstrap Icons</a> list</div>
    </div>

    <!-- Properties -->
    <div>
        <label class="form-label" for="properties">Properties</label>
        <textarea class="form-control font-monospace" name="properties"
                  id="properties" rows="12" required>{}</textarea>
        <div class="form-text">The object schema defined using <a href="https://json-schema.org/">JSON Schema.</a></div>
    </div>

    <!-- Required -->
    <div>
        <label class="form-label" for="required">Required properties</label>
        <textarea class="form-control font-monospace" name="required"
                  id="required" rows="3" required>[]</textarea>
        <div class="form-text">A JSON list of mandatory property names.</div>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary mt-3">
        Submit
        <i class="bi bi-caret-right-fill"></i>
    </button>
</form>

<div>
    <h2>Example</h2>
    <pre>{
  "properties": {
    "productId": {
      "description": "The unique identifier for a product",
      "type": "integer"
    },
    "productName": {
      "description": "Name of the product",
      "type": "string"
    }
  },
  "required": ["productId", "productName"]
}</pre>
</div>
{% endblock %}
