{% extends "layout.html" %}
{% set title = schema.title %}
{% set icon = 'cup' %}
{% block content %}
<div>
    <!-- View JSON Schema document -->
    <a class="btn btn-primary" href="{{ url_for('schema.doc', schema_id=schema._id, indent='  ') }}">
        <span class="bi bi-braces"></span>
        JSON Schema
    </a>

    <!-- Delete -->
    <a class="btn btn-danger" href="{{ url_for('schema.delete', schema_id=schema._id) }}">
        <span class="bi bi-trash-fill"></span>
        Delete
    </a>
</div>
<dl>
{% for key, value in schema.items() if not key.startswith('_') %}
    <dt>{{ key }}</dt>
    <dd><code>{{ value|tojson }}</code></dd>
{% endfor %}
</dl>
{% endblock %}
