{% extends "layout.html" %}
{% set title = schema.title %}
{% set icon = schema.icon or 'cup' %}
{% block content %}
<p>Edit this research object.</p>
<form method="post" action="{{ url_for(request.endpoint, schema_id=schema._id) }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    {% for field in form %}
    <!-- {{ field.name }} -->
    <!-- {{ field.__class__.__name__ }} -->
    <div>
        {{ field.label(class='form-label') }}
        {{ field(class='form-control') }}
        <p class="form-text">{{ field.description }}</p>
        {% for error in field.errors -%}
        <div class="alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor -%}

    <!-- Submit -->
    <button type="submit" class="btn btn-primary mt-3">
        <i class="bi bi-save"></i> Save
    </button>
</form>
{% endblock %}
