{% extends "layout.html" %}
{% set title = 'Research Objects' %}
{% set icon = 'cup' %}
{% block content %}
<div>
    <p>
        Research objects are schema that define (in the abstract) the types
        of things (such as tools, experiments, software) that are used in the
        research process.
    </p>
    <p>
        The records below define the metadata associated with each type of
        object.
    </p>
</div>
<a class="btn btn-primary" href="{{ url_for('schema.create') }}">
    <i class="bi bi-plus-circle"></i>
    Add research object
</a>

<h2>Schemas</h2>
<p>Below is a list of research object schemas:</p>
<ul>
    {% for schema in schemas -%}
    <li>
        <a href="{{ url_for('schema.detail', schema_id=schema._id) }}">
        <span class="bi bi-{{ schema.icon }}"></span>
        {{ schema.title }}</a>
        {{ schema.description }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
